body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 0;
    background-color: #03033a;
    text-align: center;
    color: #FFFFFF
} 
h1 {
    color: #DFDFDF;
    font-size: 75px;
}
footer {
    font-size: 10px
    color: #FFFFFF
}
a {
  color: #8a63ff;
}
